# Fast Api
fastapi-sql/env
fastapi-mongo/env


# Django
django-sql/env
django-mongo/env

# Express javascript
express-js-sql/node_modules
express-js-mongo/node_modules


# Express typescript
express-ts-sql/node_modules
express-ts-mongo/node_modules

# All env files
*.env
*.env*
*.env-cmdrc.json